/*Universal selector*/
* {
    color: blue;
}


/* Tag selector
h1 {
    color: green;
}

*/

/*Property selector
[disabled] {
    color: red;
}
*/

/* Class selector */
.kurs_title {
    color: black;
}

.kurs_name {
    color: purple;
}


/* ID selector */
#kurs_name {
    color: purple;
}